.main-container {
    width: calc(100vw - 251px);
    height: 100px;
    display: inline-block;
    vertical-align: top;
    padding: 10px 20px 0px;
}

.folder-section,
.item-section {
    padding-bottom: 20px;
}

.section-title {
    padding-bottom: 10px;
}

.card-folder {
    width: 200px;
    display: inline-block;
    height: 25px;
    vertical-align: top;
    border-radius: 5px;
    border: 2px solid #cccccc;
    padding: 10px;
}

.card-folder span {
    vertical-align: super;
    padding: 10px;
}

.card-item {
    width: 200px;
    display: inline-block;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-item img {
    width: 100%;
}

.container {
    text-align: center;
}