@import '../../utilities/shared/scss/variable.scss';

.breadcrumb-item {
    display: inline;
    font-size: 18px;

  &+.breadcrumb-item::before{
    padding: 8px;
    color: black;
    content: "/\00a0";
  }

  a {
    color: $head-color;
    text-decoration: none;

    &:hover{
        color: #01447e;
        text-decoration: underline;
    }
    
  }
}